In [1]:
import pandas as pd

# Loading Data

In [6]:
data = pd.read_csv('Ames_Housing_Data.csv')

# Preprocessing Data

In [7]:
data.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [17]:
data['Alley'].unique()

array([nan, 'Pave', 'Grvl'], dtype=object)

In [8]:
missing_values = data.isnull().sum()
print(missing_values)

PID                 0
MS SubClass         0
MS Zoning           0
Lot Frontage      490
Lot Area            0
                 ...
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 81, dtype: int64

In [16]:
nanValues = data.isna()
print(nanValues)

        PID  MS SubClass  MS Zoning  Lot Frontage  Lot Area  Street  Alley  \
0     False        False      False         False     False   False   True
1     False        False      False         False     False   False   True
2     False        False      False         False     False   False   True
3     False        False      False         False     False   False   True
4     False        False      False         False     False   False   True
...     ...          ...        ...           ...       ...     ...    ...
2925  False        False      False         False     False   False   True
2926  False        False      False          True     False   False   True
2927  False        False      False         False     False   False   True
2928  False        False      False         False     False   False   True
2929  False        False      False         False     False   False   True

      Lot Shape  Land Contour  Utilities  ...  Pool Area  Pool QC  Fence  \
0         False         False      False  ...      False     True   True
1         False         False      False  ...      False     True  False
2         False         False      False  ...      False     True   True
3         False         False      False  ...      False     True   True
4         False         False      False  ...      False     True  False
...         ...           ...        ...  ...        ...      ...    ...
2925      False         False      False  ...      False     True  False
2926      False         False      False  ...      False     True  False
2927      False         False      False  ...      False     True  False
2928      False         False      False  ...      False     True   True
2929      False         False      False  ...      False     True   True

      Misc Feature  Misc Val  Mo Sold  Yr Sold  Sale Type  Sale Condition  \
0             True     False    False    False      False           False
1             True     False    False    False      False           False
2            False     False    False    False      False           False
3             True     False    False    False      False           False
4             True     False    False    False      False           False
...            ...       ...      ...      ...        ...             ...
2925          True     False    False    False      False           False
2926          True     False    False    False      False           False
2927         False     False    False    False      False           False
2928          True     False    False    False      False           False
2929          True     False    False    False      False           False

      SalePrice
0         False
1         False
2         False
3         False
4         False
...         ...
2925      False
2926      False
2927      False
2928      False
2929      False

[2930 rows x 81 columns]

In [9]:
description = data.describe()
print(description)

                PID  MS SubClass  Lot Frontage       Lot Area  Overall Qual  \
count  2.930000e+03  2930.000000   2440.000000    2930.000000   2930.000000
mean   7.144645e+08    57.387372     69.224590   10147.921843      6.094881
std    1.887308e+08    42.638025     23.365335    7880.017759      1.411026
min    5.263011e+08    20.000000     21.000000    1300.000000      1.000000
25%    5.284770e+08    20.000000     58.000000    7440.250000      5.000000
50%    5.354536e+08    50.000000     68.000000    9436.500000      6.000000
75%    9.071811e+08    70.000000     80.000000   11555.250000      7.000000
max    1.007100e+09   190.000000    313.000000  215245.000000     10.000000

       Overall Cond   Year Built  Year Remod/Add  Mas Vnr Area  BsmtFin SF 1  \
count   2930.000000  2930.000000     2930.000000   2907.000000   2929.000000
mean       5.563140  1971.356314     1984.266553    101.896801    442.629566
std        1.111537    30.245361       20.860286    179.112611    455.590839
min        1.000000  1872.000000     1950.000000      0.000000      0.000000
25%        5.000000  1954.000000     1965.000000      0.000000      0.000000
50%        5.000000  1973.000000     1993.000000      0.000000    370.000000
75%        6.000000  2001.000000     2004.000000    164.000000    734.000000
max        9.000000  2010.000000     2010.000000   1600.000000   5644.000000

       ...  Wood Deck SF  Open Porch SF  Enclosed Porch   3Ssn Porch  \
count  ...   2930.000000    2930.000000     2930.000000  2930.000000
mean   ...     93.751877      47.533447       23.011604     2.592491
std    ...    126.361562      67.483400       64.139059    25.141331
min    ...      0.000000       0.000000        0.000000     0.000000
25%    ...      0.000000       0.000000        0.000000     0.000000
50%    ...      0.000000      27.000000        0.000000     0.000000
75%    ...    168.000000      70.000000        0.000000     0.000000
max    ...   1424.000000     742.000000     1012.000000   508.000000

       Screen Porch    Pool Area      Misc Val      Mo Sold      Yr Sold  \
count   2930.000000  2930.000000   2930.000000  2930.000000  2930.000000
mean      16.002048     2.243345     50.635154     6.216041  2007.790444
std       56.087370    35.597181    566.344288     2.714492     1.316613
min        0.000000     0.000000      0.000000     1.000000  2006.000000
25%        0.000000     0.000000      0.000000     4.000000  2007.000000
50%        0.000000     0.000000      0.000000     6.000000  2008.000000
75%        0.000000     0.000000      0.000000     8.000000  2009.000000
max      576.000000   800.000000  17000.000000    12.000000  2010.000000

           SalePrice
count    2930.000000
mean   180796.060068
std     79886.692357
min     12789.000000
25%    129500.000000
50%    160000.000000
75%    213500.000000
max    755000.000000

[8 rows x 38 columns]

In [10]:
variableTypes = data.dtypes
print(variableTypes)

PID                 int64
MS SubClass         int64
MS Zoning          object
Lot Frontage      float64
Lot Area            int64
                   ...
Mo Sold             int64
Yr Sold             int64
Sale Type          object
Sale Condition     object
SalePrice           int64
Length: 81, dtype: object

In [11]:
data.shape

(2930, 81)

# Data Formatting and Data Normalization

In [18]:
data['Alley'].unique()

array([nan, 'Pave', 'Grvl'], dtype=object)

In [28]:
data['Alley'].fillna(-1, inplace=True)
data['Alley'].replace(to_replace=-1, value=0, inplace=True)
data['Alley'].replace(to_replace='Pave', value=1, inplace=True)
data['Alley'].replace(to_replace='Grvl', value=2, inplace=True)

In [30]:
data['Alley'].unique()

array([0, 1, 2], dtype=int64)

In [31]:
data['Alley'].dtype

dtype('int64')

In [33]:
data.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,526301100,20,RL,141.0,31770,Pave,0,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,526350040,20,RH,80.0,11622,Pave,0,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,526351010,20,RL,81.0,14267,Pave,0,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,526353030,20,RL,93.0,11160,Pave,0,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,527105010,60,RL,74.0,13830,Pave,0,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [37]:
data['Street'].unique()

array(['Pave', 'Grvl'], dtype=object)

In [38]:
data['Street'].dtype

dtype('O')

In [39]:
data['Street'].replace(to_replace='Pave', value=0, inplace=True)
data['Street'].replace(to_replace='Grvl', value=1, inplace=True)

In [40]:
data['Street'].unique()

array([0, 1], dtype=int64)

In [41]:
data['Street'].dtype

dtype('int64')

In [42]:
data.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,526301100,20,RL,141.0,31770,0,0,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,526350040,20,RH,80.0,11622,0,0,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,526351010,20,RL,81.0,14267,0,0,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,526353030,20,RL,93.0,11160,0,0,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,527105010,60,RL,74.0,13830,0,0,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900